# 数据库配置 - OceanBase/MySQL
DB_HOST=localhost     # 数据库主机地址
DB_PORT=3306         # 数据库端口
DB_USER=username     # 数据库用户名
DB_PASSWORD=password  # 数据库密码
DB_NAME=ai_learning_companion_db  # 数据库名称

# 应用程序配置
# 这里可以添加其他环境变量 